/* GENERAL WIDGETS */
@media only screen and ( max-width: 992px ){
    .row aside.col.sidebar-to-right{
        padding-top: 80px;
    }
    .row aside.col.sidebar-to-left{
        padding-bottom: 80px;
    }
}
div.widget a:hover{
    color: #2bbbad;
}
aside.finlaydag33k-sidebar{
    min-height: 1px;
}
aside.finlaydag33k-sidebar div.widget{
    background-color: #ffffff;

    margin-bottom: 20px;

    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
       -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
div.widget h4.widget-title{
    background-color: #2b3a44;

    color: #ffffff;

    font-family: 'Open Sans', sans-serif, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;

    line-height: 20px;

    margin: 0px;

    padding: 10px 20px;

    letter-spacing: 1px;
    text-transform: uppercase;
}

/* FORM ELEMENTS */
div.widget select,
div.widget input:not([type=submit]):not([type=button]):not([type=reset]),
div.widget button,
div.widget .waves-input-wrapper{
    margin-top: 15px;
    margin-bottom: 0px;
}

.finlaydag33k-sidebar div.widget label{
    display: block;
    padding: 20px 20px 0px 20px;
    margin: 0px;
}

.finlaydag33k-sidebar div.widget .select-wrapper{
    padding-bottom: 20px;
    margin: 10px 20px;
}
.finlaydag33k-sidebar div.widget .select-wrapper ul,
.finlaydag33k-sidebar div.widget .select-wrapper ul li{
    padding: 0px;
}

.finlaydag33k-sidebar div.widget .select-wrapper input[type="text"]{
    margin-bottom: 0px;
    border-bottom: 1px solid #f3f3f3;
}


/* GENERAL ABOUT WIDGETS WITH UL */
div.widget ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
div.widget ul li{
    color: #999999;
    display: block;
    font-size: 14px;
    padding: 12px 0px 12px 3px;

    border-top: 1px solid #f2f2f2;
}
aside.finlaydag33k-sidebar div.widget div > ul > li ul,
aside.finlaydag33k-sidebar div.widget > ul > li ul{
    margin-left: 15px;
}
div.widget ul > li:first-child{
    border-top: none;
}
div.widget ul li ul{
    padding-top: 12px;
}
div.widget ul li ul > li:first-child{
    border-top: 1px solid #f2f2f2;
}
div.widget ul li ul > li:last-child{
    padding-bottom: 0px;
}
div.widget ul li a{
    color: #52565a;
}

aside.finlaydag33k-sidebar div.widget div > ul,
aside.finlaydag33k-sidebar div.widget > ul{
    padding-left: 20px;
    padding-right: 20px;
}


/* SEARCH - DEFAULT WIDGET*/
div.widget_search form{
    margin: 0px;
    padding: 20px;
    width: 100%;
}
div.widget_search div#searchbox{
    position: relative;
    width: 100%;
}
div.widget_search input,
div.widget_search button{
    float: left;
}

div.widget_search fieldset{
    padding: 3px 3px 3px 6px;
    border: 1px solid #f3f3f3;
}
div.widget_search input[type="text"]:not([type=submit]):not([type=button]):not([type=reset]){
    border: none;

    font-style:normal;
    font-variant:normal;
    font-weight:normal;

    width: -webkit-calc( 100% - 38px );
    width: -moz-calc( 100% - 38px );
    width: -ms-calc( 100% - 38px );
    width: -o-calc( 100% - 38px );
    width: calc( 100% - 38px );

    height: 32px;

    margin: -1px 0px 0px 0px;

    -webkit-border-top-right-radius: 0px;
       -moz-border-top-right-radius: 0px;
            border-top-right-radius: 0px;

    -webkit-border-bottom-right-radius: 0px;
       -moz-border-bottom-right-radius: 0px;
            border-bottom-right-radius: 0px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
div.widget_search button[type="submit"]{
    position: absolute;
    background-color: #26a69a !important;
    right: 0px;

    display: block;
    width: 35px;
    height: 32px;
    padding: 7px 10px;

    margin: 0px;

    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;

    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
div.widget_search button[type="submit"]:hover{
  background-color: #2bbbad !important;
}
div.widget_search button[type="submit"] i{
    display: block;
    width: 12px;

    line-height: 18px;

    text-align: center;
}

/* TEXT - DEFAULT WIDGET */
aside.finlaydag33k-sidebar div.widget_text div.textwidget{
    padding: 20px;
}
div.widget_text div.textwidget,
div.widget_text div.textwidget p{
    color: #999999;
    font-size: 12px;
    line-height: 18px;
}
div.widget_text div.textwidget p{
    margin-top: 10px;
}
div.widget_text div.textwidget p:first-child{
    margin-top: 0px;
}

div.widget_text div.textwidget .select-wrapper{
    margin: 0px;
    margin-left: 0px;
    width: 100%;
}

div.widget_text div.textwidget .select-wrapper input[type="text"]{
    margin-bottom: 0px;
}


/* CALENDAR - DEFAULT WIDGET */
div.widget_calendar div#calendar_wrap{
    padding: 0px 20px 20px 20px;
}
div.widget_calendar table{
    border: 1px solid #f2f2f2;

    border-collapse: collapse;
    border-spacing: 0;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
div.widget_calendar table caption{
    padding: 8px 0px;
    margin: 0px;
    color: #999999;
}
div.widget_calendar table th,
div.widget_calendar table td{
    border: 1px solid rgba( 255,255,255, 1.0 );
    padding: inherit;
    height: auto;
    text-align: center;
}
div.widget_calendar table th{
    background-color: #26a69a;
    color: #ffffff;

    font-family: Raleway, sans-serif, Arial, serif;
    font-style: bold;
    font-variant: bold;
    font-weight: bold;
}

div.widget_calendar table td{
    background: #fafafa;
    color: #999999;
}
div.widget_calendar table td a{
    color: #000000;
}


/* ARCHIVES - DEFAULT WIDGET */
div.widget_archive ul li{
    color: #b5b5b5;
}


/* WIDGET CATEGORIES - DEFAULT WIDGET */
div.widget_categories ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
div.widget_categories ul li{
    color: #b5b5b5;
}

/* WIDGET TAG CLOUD - DEFAULT WIDGET */
div.widget_post_tags div.tagcloud,
div.widget_tag_cloud div.tagcloud{
    padding: 15px 20px 20px 20px;

    font-size: 0px;
    line-height: 0px;

    margin: 0px -5px 0px -5px;
}
div.widget_post_tags div.tagcloud a,
div.widget_tag_cloud div.tagcloud a{
    position: relative;

    background-color: transparent;
    border: 2px solid #26ad60;

    color: #26ad60;

    display: inline-block;

    font-family: "Open Sans", Helvetica, Arial, sans-serif, serif !important;
    font-size: 12px !important;

    line-height: 24px;

    padding: 2px 14px;

    margin: 5px 0px 0px 5px;

    text-transform: uppercase;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
div.widget_post_tags div.tagcloud a:hover,
div.widget_tag_cloud div.tagcloud a:hover{
    background: #26ad60;
    color: #ffffff;

    -weblikt-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
        -mox-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
             box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

/* ARROWS */
div.widget.widget_archive ul li a:before,
div.widget.widget_categories ul li a:before,
div.widget.widget_nav_menu ul li a:before,
div.widget.widget_pages ul li a:before,
div.widget.widget_archive ul li a::before,
div.widget.widget_categories ul li a::before,
div.widget.widget_nav_menu ul li a::before,
div.widget.widget_pages ul li a::before{
    color: #cdcdcd;
    content: '\eaa5';
    margin-left: 3px;
    margin-right: 8px;
    font-family: "fontello";
    font-size: 6px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    float: left;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
}

/* META DETAILS */
div.widget_post_meta li i{
    margin-right: 8px;
}
div.widget_post_meta li i
div.widget_post_meta li i:before{
    font-size: 12px;
}

/* RSS */
div.widget_rss h4.widget-title a.rsswidget{
    color: #ffffff;
}
div.widget_rss h4.widget-title a.rsswidget img{
    border: 2px solid #ffffff !important;
    margin: 2px 2px -2px 0px;
}

div.widget_rss ul li a.rsswidget{
    color: #000000;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}
div.widget_rss ul li a.rsswidget:hover{
    color: #e53935;
}
div.widget_rss ul li span.rss-date{
    display: block;
    margin-bottom: 15px;
    color: #999999;
}
div.widget_rss ul li div.rssSummary{
    color: #666666;
}

div.widget_rss ul li cite{
    display: block;
    color: #aaaaaa;
    margin-top: 15px;
}

/* ASIDE FEATURES */
div.widget_rss h4.widget-title a.rsswidget{
    color: #ffffff;
}
aside.finlaydag33k-header-items div.widget ul li{
    padding-left: 3px;
}
aside.finlaydag33k-header-items div.widget ul li ul{
    margin-left: 15px;
}
aside.finlaydag33k-header-items div.widget p{
    padding-left: 0px;
}

aside.finlaydag33k-header-items div.widget_calendar div#calendar_wrap{
    padding: 0px;
}

aside.finlaydag33k-header-items div.widget_search form{
    padding: 0px;
}

aside.finlaydag33k-header-items div.widget_post_tags div.tagcloud,
aside.finlaydag33k-header-items div.widget_tag_cloud div.tagcloud{
    padding: 0px;
}
aside.finlaydag33k-header-items div.widget_post_tags div.tagcloud,
aside.finlaydag33k-header-items div.widget_tag_cloud div.tagcloud{
    margin-left: -5px;
    margin-right: -5px;
}

aside.finlaydag33k-header-items div.widget select,
aside.finlaydag33k-header-items div.widget input,
aside.finlaydag33k-header-items div.widget button[type="submit"],
aside.finlaydag33k-header-items div.widget input[type="submit"]{
    margin: 0px;
}
aside.finlaydag33k-header-items div.header-item div.widget_text div.textwidget,
aside.finlaydag33k-header-items div.header-item div.widget_text div.textwidget p{
    color: #929292;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}
aside.finlaydag33k-header-items div.header-item div.widget_text div.textwidget p{
    margin: 20px 0px;
}
aside.finlaydag33k-header-items div.header-item div.widget_text div.textwidget{
    padding: 0px;
}
aside.finlaydag33k-header-items div.header-item{
    margin-bottom: 0px;
}
aside.finlaydag33k-header-items div.header-item div.widget{
    margin-bottom: 60px;
}
aside.finlaydag33k-header-items div.header-item div.widget h3 + div > ul:first-child > li:first-child,
aside.finlaydag33k-header-items div.header-item div.widget h3 + ul > li:first-child{
    border-top: none;
    padding-top: 5px;
}
aside.finlaydag33k-header-items div.header-item div.widget_rss h3 a.rsswidget,
aside.finlaydag33k-header-items div.header-item div.widget h3,
aside.finlaydag33k-header-items div.header-item div.widget_text h3{
    color: #333333;

    font-family: "Poiret One", sans-serif, Arial, serif;
    font-size: 18px;
    font-weight: bold;

    position: relative;
    padding-bottom: 20px;

    letter-spacing: 1px;
    line-height: 24px;

    text-align: center;
    text-transform: uppercase;

    margin-bottom: 30px;
    margin-top: 0px;
}

aside.finlaydag33k-header-items div.header-item div.widget > h3:before,
aside.finlaydag33k-header-items div.header-item div.widget > h3:after {
  border-bottom: 3px double rgba( 0, 0, 0, 0.3 );
  content: '';
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  width: 30%;
  bottom: -5px;
}

aside.finlaydag33k-header-items div.header-item div.widget > h3:before{
    right: 15%;
}
aside.finlaydag33k-header-items div.header-item div.widget > h3:after{
    left: 15%;
}

aside.finlaydag33k-header-items div.header-item div.widget_rss h3 a.rsswidget:hover{
    color: #e53935;
}

aside.finlaydag33k-header-items div.header-item div.widget ul > li:first-child{
    border-top: 1px solid #f2f2f2;
}
aside.finlaydag33k-header-items div.widget select,
aside.finlaydag33k-header-items div.widget input,
aside.finlaydag33k-header-items div.widget button[type="submit"],
aside.finlaydag33k-header-items div.widget input[type="submit"]{
    margin: 0px;
}

/* FOOTER WIDGETS */
footer aside div.widget{
    margin-bottom: 60px;
}
footer aside div.widget a{
    color: #66bb6a;
}
footer aside div.widget a abbr{
    color: #a5d6a7;
}
footer aside div.widget a:hover{
    color: #a5d6a7
}
footer aside div.widget ul li{
    border-top: 1px solid rgba( 255, 255, 255, 0.05 );
    padding-left: 3px;
}
footer aside div.widget ul > li:first-child{
    border-top: 1px solid rgba( 255, 255, 255, 0.05 );
}
footer aside div.widget > ul > li ul,
footer aside div.widget div > ul > li ul{
    margin-left: 15px;
}
footer aside div.widget ul li a{
    color: #66bb6a;
    font-weight: 300;
}
footer aside div.widget ul li{
    color: rgba( 255, 255, 255, 0.6 );
    font-weight: 300;
}
footer aside div.widget > ul > li:first-child,
footer aside div.widget div > ul > li:first-child{
    border-top: none;
    padding-top: 0px;
}

footer aside div.widget.widget_archive ul li a:before,
footer aside div.widget.widget_categories ul li a:before,
footer aside div.widget.widget_nav_menu ul li a:before,
footer aside div.widget.widget_pages ul li a:before,
footer aside div.widget.widget_archive ul li a::before,
footer aside div.widget.widget_categories ul li a::before,
footer aside div.widget.widget_nav_menu ul li a::before,
footer aside div.widget.widget_pages ul li a::before{
    color: rgba( 255, 255, 255, 0.3 );
    content: '\eaa1';
    margin-left: 3px;
    margin-right: 8px;
    font-family: "fontello";
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
}

footer aside div.widget label{
    color: rgba( 255, 255, 255, 0.8 );
}


footer aside div.widget .select-wrapper .dropdown-content{
    background-color: #263238;
}
footer aside div.widget .select-wrapper ul,
footer aside div.widget .select-wrapper ul li{
    padding: 0px;
}
footer aside div.widget .select-wrapper ul li.active,
footer aside div.widget .select-wrapper ul li:hover{
    background-color: rgba( 255, 255, 255, 0.05 );
}


footer aside div.widget .select-wrapper input[type="text"]{
    margin-bottom: 0px;
    border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
}

footer aside div.widget .select-wrapper .caret{
    color: rgba( 255, 255, 255, 0.5 );
}

footer aside div.widget_search fieldset{
    border: 1px solid rgba( 255, 255, 255, 0.05 );
}

footer aside div.widget input[type="text"]{
    color: rgba( 255, 255, 255, 0.4 );
    font-weight: 300;
}
footer aside div.widget input[type="text"]:focus{
    color: rgba( 255, 255, 255, 0.9 );
}

footer aside div.widget,
footer aside div.widget p,
footer aside div.widget_text div.textwidget,
footer aside div.widget_text div.textwidget p{
    color: rgba( 255, 255, 255, 0.5 );

    font-family: "Open Sans", sans-serif, Arial, serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;

    margin: 10px 0px;
}
footer aside div.widget > h5{
    color: #ffffff;

    font-family: Raleway, sans-serif, Arial, serif;
    font-size: 15px;
    font-weight: 300;

    position: relative;

    margin-bottom: 25px;
    padding-bottom: 15px;

    text-align: left;
    text-transform: uppercase;

    letter-spacing: 1px;
}

footer aside div.widget > h5:after {
  border-bottom: 1px solid rgba( 255, 255, 255, 0.3 );
  content: '';
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  width: 10%;

  left: 0px;
  bottom: -5px;
}

footer aside div.widget_text div.textwidget{
    padding: 0px;
}
footer aside div.widget_rss h5 a.rsswidget{
    color: #ffffff
}
footer aside div.widget_rss h5 a.rsswidget img{
    margin: 2px 2px -2px 0px;
}
footer aside div.widget_rss ul li a.rsswidget{
    color: #ffffff;
}
footer aside div.widget_rss ul li a.rsswidget:hover{
    color: #26a69a;
}

footer aside div.widget_rss ul li span.rss-date{
    color: rgba( 255, 255, 255, 0.4 );
}
footer aside div.widget_rss ul div.rssSummary{
    color: rgba( 255, 255, 255, 0.6 );

    font-size: 13px;
    font-weight: 300;
}
footer aside div.widget_rss ul li cite{
    color: rgba( 255, 255, 255, 0.3 );
}

footer aside div.widget_calendar div#calendar_wrap,
footer aside div.widget_search form,
footer aside div.widget_post_tags div.tagcloud,
footer aside div.widget_tag_cloud div.tagcloud{
    padding: 0px;
}
footer aside div.widget_post_tags div.tagcloud,
footer aside div.widget_tag_cloud div.tagcloud{
    margin-left: -5px;
    margin-right: -5px;
}
footer aside div.widget_post_tags div.tagcloud a,
footer aside div.widget_tag_cloud div.tagcloud a{
    border-color: #66bb6a;
    color: #66bb6a;
}
footer aside div.widget_post_tags div.tagcloud a:hover,
footer aside div.widget_tag_cloud div.tagcloud a:hover{
    background-color: #66bb6a;
}

footer aside div.widget_calendar table{
    border: 1px solid #2b3a44;

    border-collapse: collapse;
    border-spacing: 0;
}
footer aside div.widget_calendar table caption{
    padding: 8px 0px;
    margin: 0px;
    color: rgba( 255, 255, 255, 0.8 );
}
footer aside div.widget_calendar table th,
footer aside div.widget_calendar table td{
    border: 1px solid #2b3a44;
    padding: inherit;
    height: auto;
    text-align: center;
}
footer aside div.widget_calendar table th{
    background-color: #66bb6a;
    color: #ffffff;

    font-family: Raleway, sans-serif, Arial, serif;
    font-style: bold;
    font-variant: bold;
    font-weight: bold;
}

footer aside div.widget_calendar table td{
    background: #263238;
    color: #90a4ae;
}
footer aside div.widget_calendar table td a{
    color: #ffffff;
}

/* PLUGINS */
div.widget_top-posts ul li{
    margin: 0px;
}
div.widget_top-posts div.widgets-grid-layout{
    margin-top: 20px;
}
div.widget_facebook_likebox h4.widget-title a{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif, Arial, serif;
    font-weight: normal;
}
div.widget_facebook_likebox h4.widget-title a:hover{
    color: #353535;
}
div.widget_facebook_likebox iframe{
    margin: 0px 0px -10px 0px;
    width: 100% !important;
    padding: 10px 10px 20px 10px !important;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
div.widget_twitter_timeline iframe{
    width: 100% !important;
    margin: 0px 0px -10px 0px !important;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
div.widget-grofile.grofile img{
    float: left;
    margin-top: 12px;
    max-width: 65px;
    margin-right: 20px;
}
div.widget-grofile.grofile div.grofile-meta{
    float: left;
    display: block;
}
div.widget-grofile.grofile div.grofile-meta + h4{
    display: block;
}
div.widget-grofile.grofile a.grofile-full-link{
    background: #f0f0f0;
    display: inline-block;
    padding: 8px 15px;
    font-size: 12px;
    text-transform: uppercase;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

/* BLOG */
div.widget_jetpack_display_posts_widget div.jetpack-display-remote-posts{
    margin-top: 12px;
}
div.widget_jetpack_display_posts_widget div.jetpack-display-remote-posts h4{
    font-size: 16px;
    margin-top: 40px;
    text-transform: uppercase;
}
div.widget_jetpack_display_posts_widget div.jetpack-display-remote-posts h4:first-child{
    margin-top: 0px;
}
div.widget_jetpack_display_posts_widget div.jetpack-display-remote-posts img{
    margin-top: 15px;
    margin-bottom: 15px;
}
div.widget_jetpack_display_posts_widget div.jetpack-display-remote-posts p{
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.jetpack_subscription_widget form{
    padding: 20px;
}

div.jetpack_subscription_widget div#subscribe-text{
    color: #666666;

    font-family: "Open Sans", sans-serif, Arial, serif;
    font-size: 12px;
    line-height: 18px;

    font-style: normal;
    font-variant: normal;
    font-weight: normal;

    margin-bottom: 15px;
}

div.jetpack_subscription_widget p{
    margin: 0px;
}

div.jetpack_subscription_widget #subscribe-email input{
    width: -webkit-calc( 100% - 20px );
    width: -moz-calc( 100% - 20px );
    padding: 6px 10px;

    margin: 0px;
}

div.jetpack_subscription_widget div.success{
    padding: 20px;
}

div.jetpack_subscription_widget div.success p{
    font-family: "Open Sans", sans-serif, Arial, serif;
    font-size: 12px;
    line-height: 18px;

    background-color: #ffffff;
    border: none;
    border-left: 5px solid #26a69a;
    color: #333333;

    font-family: "Open Sans", sans-serif, Arial, serif;
    font-size: 12px;
    line-height: 18px;

    padding: 15px 25px;
    margin: 0px;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
        -ms-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* CONTACT INFO */
div.widget_contact_info div.confit-address{
    padding: 20px;
}

div.widget_contact_info div.confit-phone{
    padding: 0px 20px 20px 20px;
}

div.widget_contact_info div.confit-phone:before,
div.widget_contact_info div.confit-phone::before{
    color: #999999;
    content: '\e8a2';

    float: left;

    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    font-size: 18px;

    margin-right: 10px;
    margin-top: 1px;
}

div.widget_contact_info div.confit-hours{
    color: #666666;

    font-family: "Open Sans", sans-serif, Arial, serif;
    font-size: 12px;
    line-height: 18px;

    padding: 0px 20px 20px 20px;
}

div.widget_contact_info div.contact-map + div.confit-phone{
    padding: 20px;
}
div.widget_contact_info div.contact-map + div.confit-hours{

}
