*{
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}
body,html{
	font-family: "Open Sans", sans-serif, Arial, serif;
	font-size: 14px;
	line-height: 24px;

	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}
a{
    color: #26a69a;
	-webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
       -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

h1,h2,h3,h4,h5,h6{
    font-family: Raleway, sans-serif, Arial, serif;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;

    color: #252525;
}

.hentry h1,
article h1,
.hentry h2,
article h2,
.hentry h3,
article h3,
.hentry h4,
article h4,
.hentry h5,
article h5,
.hentry h6,
article h6{
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
}

.hentry h1,
article h1{
    font-size: 34px;
    line-height: 42px;
}

.hentry h2,
article h2{
    font-size: 31px;
    margin-top: 39px;
    margin-bottom: 15px;
}

.hentry h3,
article h3{
    font-size: 28px;
    margin-top: 36px;
    margin-bottom: 10px;
}

.hentry h4,
article h4{
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 10px;
}

.hentry h5,
article h5{
    font-size: 20px;
    margin-top: 28px;
    margin-bottom: 15px;
}

.hentry h6,
article h6{
    font-size: 18px;
    margin-top: 26px;
    margin-bottom: 15px;
}

/* POST TITLE */
.hentry h1.post-title,
article h1.post-title{
    margin-top: 0px;
    margin-bottom: 10px;
}

/* BREADCRUMBS */
.finlaydag33k-page-header h1{
    font-size: 36px;
    line-height: 40px;
}

/* RESPONSIVE RULES */
@media (min-width: 1200px ){
    .hentry h1.post-title,
    article h1.post-title,
    .hentry h2.post-title,
    article h2.post-title,
    .hentry h1,
    article h1{
        font-size: 34px;
        line-height: 42px;
    }

    .hentry h2,
    article h2{
        font-size: 31px;
        margin-top: 39px;
        margin-bottom: 15px;
    }

    .hentry h3,
    article h3{
        font-size: 28px;
        margin-top: 36px;
        margin-bottom: 10px;
    }

    .hentry h4,
    article h4{
        font-size: 24px;
        margin-top: 32px;
        margin-bottom: 10px;
    }

    .hentry h5,
    article h5{
        font-size: 20px;
        margin-top: 28px;
        margin-bottom: 15px;
    }

    .hentry h6,
    article h6{
        font-size: 18px;
        margin-top: 26px;
        margin-bottom: 15px;
    }


    /* BREADCRUMBS */
    .finlaydag33k-page-header h1{
        font-size: 36px;
        line-height: 40px;
    }
}
@media ( min-width: 992px ) and (max-width: 1199px ){
    .hentry h1.post-title,
    article h1.post-title,
    .hentry h2.post-title,
    article h2.post-title,
    .hentry h1,
    article h1{
        font-size: 32px;
        line-height: 40px;
    }

    .hentry h2,
    article h2{
        font-size: 28px;
        margin-top: 36px;
        margin-bottom: 15px;
    }

    .hentry h3,
    article h3{
        font-size: 25px;
        margin-top: 33px;
        margin-bottom: 10px;
    }

    .hentry h4,
    article h4{
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .hentry h5,
    article h5{
        font-size: 19px;
        margin-top: 27px;
        margin-bottom: 15px;
    }

    .hentry h6,
    article h6{
        font-size: 17px;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    /* BREADCRUMBS */
    .finlaydag33k-page-header h1{
        font-size: 33px;
        line-height: 36px;
    }
}
@media ( min-width: 768px ) and ( max-width: 991px ){
    .hentry h1.post-title,
    article h1.post-title,
    .hentry h2.post-title,
    article h2.post-title,
    .hentry h1,
    article h1{
        font-size: 30px;
        line-height: 36px;
    }

    .hentry h2,
    article h2{
        font-size: 27px;
        margin-top: 33px;
        margin-bottom: 15px;
    }

    .hentry h3,
    article h3{
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .hentry h4,
    article h4{
        font-size: 20px;
        margin-top: 26px;
        margin-bottom: 10px;
    }

    .hentry h5,
    article h5{
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 15px;
    }

    .hentry h6,
    article h6{
        font-size: 16px;
        margin-top: 22px;
        margin-bottom: 15px;
    }

    /* BREADCRUMBS */
    .finlaydag33k-page-header h1{
        font-size: 30px;
        line-height: 33px;
    }
}
@media ( min-width: 481px ) and ( max-width: 767px ){
    .hentry h1.post-title,
    article h1.post-title,
    .hentry h2.post-title,
    article h2.post-title,
    .hentry h1,
    article h1{
        font-size: 27px;
        line-height: 33px;
    }

    .hentry h2,
    article h2{
        font-size: 25px;
        margin-top: 31px;
        margin-bottom: 15px;
    }

    .hentry h3,
    article h3{
        font-size: 22px;
        margin-top: 28px;
        margin-bottom: 10px;
    }

    .hentry h4,
    article h4{
        font-size: 19px;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .hentry h5,
    article h5{
        font-size: 17px;
        margin-top: 23px;
        margin-bottom: 10px;
    }

    .hentry h6,
    article h6{
        font-size: 15px;
        margin-top: 21px;
        margin-bottom: 10px;
    }

    /* BREADCRUMBS */
    .finlaydag33k-page-header h1{
        font-size: 27px;
        line-height: 30px;
    }
}
@media ( max-width: 480px ){
    .hentry h1.post-title,
    article h1.post-title,
    .hentry h2.post-title,
    article h2.post-title,
    .hentry h1,
    article h1{
        font-size: 24px;
        line-height: 30px;
    }

    .hentry h2,
    article h2{
        font-size: 22px;
        margin-top: 28px;
        margin-bottom: 15px;
    }

    .hentry h3,
    article h3{
        font-size: 20px;
        margin-top: 26px;
        margin-bottom: 10px;
    }

    .hentry h4,
    article h4{
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 10px;
    }

    .hentry h5,
    article h5{
        font-size: 16px;
        margin-top: 22px;
        margin-bottom: 10px;
    }

    .hentry h6,
    article h6{
        font-size: 14px;
        margin-top: 22px;
        margin-bottom: 10px;
    }

    /* BREADCRUMBS */
    .finlaydag33k-page-header h1{
        font-size: 24px;
        line-height: 37px;
    }
}

/* BLOCKQUOTE */
section div.finlaydag33k-page blockquote p,
section div.finlaydag33k-page blockquote,
section article blockquote p,
section article blockquote{
    color: #666666;
    font-size: 14px;
    font-style: italic;
}

blockquote{
    background-color: #ffffff;
    padding: 10px 15px 10px 55px;

    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
       -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}

blockquote cite,
blockquote footer{
    color: #333333;
    display: block;
    margin-top: 20px;
    text-align: right;
}

blockquote cite a,
blockquote footer a{

}

section div.finlaydag33k-page blockquote p,
article blockquote p{
    background: none;
    padding: 0px;
}
section div.finlaydag33k-page p:first-child,
article blockquote p:first-child{
    margin-top: 0px;
}
.hentry blockquote p:last-child,
article blockquote p:last-child{
    margin-bottom: 0px;
}

/* PAGE */
section div.finlaydag33k-page > h1:first-child,
section div.finlaydag33k-page > h2:first-child,
section div.finlaydag33k-page > h3:first-child,
section div.finlaydag33k-page > h4:first-child,
section div.finlaydag33k-page > h5:first-child,
section div.finlaydag33k-page > h6:first-child{
    margin-top: 0px;
}


/* LISTS */
.hentry ul,
.hentry ol,
article ul,
article ol{
    padding-left: 25px;
}
.hentry ul li,
.hentry ol li,
article ul li,
article ol li{
    margin-top: 15px;
    margin-bottom: 15px;
}

.hentry ul li,
article ul li{
    list-style-type: square;
}

.hentry ul.dropdown-content.select-dropdown,
.hentry ol.dropdown-content.select-dropdown,
article ul.dropdown-content.select-dropdown,
article ol.dropdown-content.select-dropdown{
    padding-left: 0px;
}

/* TABLE */
table{
    width: 100%;
    color: #000000;

    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
       -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}

table th{
    font-weight: bold;
    background-color: #fbfbfb;
    border: 1px solid #e9e9e9;
    min-height: 40px;
    padding: 7px;
}

table.align-head-center th{
    text-align: center;
}

table.align-center td,
table.align-center th{
    text-align: center;
}

table td{
    border: 1px solid #e9e9e9;
    text-align: left;
    min-height: 40px;
    padding: 6px;
}

table tr.odd td{
    background-color: #fbfbfb;
}

table tr td,
table tr.even td{
    background: #ffffff;
}

strong{
    font-weight: bold;
}

address{
    font-style: italic;
}
address,
abbr{
    color: #2d2d2d;
}
em{
    font-style: italic;
}
code{
    background: #ffffff;
    color: #666666;
}
pre{

    background-color: #ffffff;
    padding: 10px 15px 10px 15px;

    font-size: 12px;
    font-weight: 300;

    margin: 15px 0px;
    word-wrap: break-word;
    border: none;

    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
       -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

div.finlaydag33k-page hr{
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid #dedede;
}
