.brand-img img {
  height: 100%;
  position: relative;
  top: 1px;
}

nav {
  background-color: #2b3a44;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.main-container {
  padding-top: 15px;
}

body section article{
  background-color: #ffffff;
  padding: 1px 30px 50px 30px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

pre:first-line {
  line-height: 0px;
}

pre, code{
  white-space:normal;
}

#sidebar {
  height: 100%;
  min-height: 500px;
}
